name: Clock Server CD

on:
  workflow_run:
    workflows: ["Clock Server CI"]
    types: [completed]

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

      - name: Save DigitalOcean kubeconfig
        run: doctl kubernetes cluster kubeconfig save ${{ secrets.DIGITALOCEAN_CLUSTER_NAME }}

      - name: Install kubectl
        uses: azure/setup-kubectl@v4

      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f k8s/deployment.yml

      - name: Verify Rollout
        run: kubectl rollout status deployment.apps/clock-server
